.button-show
  position: absolute
  z-index: 3
  height: 40px
  outline: none
  color: #565656
  background: #FFF
  border: 0
  border-radius: 2px
  box-shadow: rgba(0,0,0, .3) 0px 1px 4px -1px;
  font-size: 16px
  padding: 0 17px
  margin-top: 10px
  left: 50%
  transform: translateX(-50%)
  
.button-show:hover
  background: lightgray;
  color: #000


