#contact h1
    text-align center
    margin 2rem 0 1.5rem
    font-size 2em
    
#contact p 
    text-align center
    padding 0rem 1rem
    
#contact h4
    text-align center
    margin-bottom 5px

.button-container
    text-align center
    margin-bottom 20px

.button-green
    margin-top 10px
    background linear-gradient(to left, #95ca3e 0%, #95ca3e 50%, #85c638 100%)
    color white
    box-shadow 0 1px 1px 0 #58902d
    border none
    border-radius 3px
    box-sizing border-box
    transition 0.2s
    outline 0
    font-size 0.9rem
    padding 9px 0.8em 10px 0.8em
    cursor pointer
        
.button-green:focus 
    outline 0

.button-green:hover
    box-shadow 0 2px 13px 0 rgba(88,144,45,0.49)


