.map-conatiner 
    margin 15px 0 15px 0

.content-button
    display flex
    justify-content center

.contend-map
       margin-top 40px;


.btn-show-map 
    width 150px;
    height 40px
    border-radius 150px
    color: white
    background-color #3369E8 
    border: none;
    outline: none;

