@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

$Montserrat = 'Montserrat', sans-serif

$indigo= #3949AB
$indigo-soft = #6F74DD
$white= #FFFFFF

.Map
    &__button
        height: 40px
        width: 150px
        outline: 0
        border-radius: 10px
        border: none
        font-family: $Montserrat
        font-weight: bold
        box-shadow: 0 3px 6px rgba($indigo-soft, 0.4)
        background: $indigo
        color: $white
        &:hover
            background: rgba($indigo, 0.8)
            cursor: pointer