@import '../fonts'
@import '../vars'

body
  background-color $whitesmoke
  color $dark
  margin 0
  padding 0
  font-family $font-lato

section
  margin 0
  paddin 0
  
.wrapper-contact
  max-width 990px
  margin 0 auto
  overflow hidden
  position relative
  padding 0 20px