body
  background-color white
  margin 0
  padding 0

section
  margin 0
  paddin 0

.ButtonHandler
  position fixed
  width 60px
  height 40px
  padding 0
  background-color white
  font-size 16px
  border none
  border-radius 2px
  box-shadow 0 1px 4px -1px rgba(0, 0, 0, .3)
  top 10px
  right 60px
  outline 0
  z-index 9999
  &:active
    transform scale(.9)
  