body
  background-color white
  margin 0
  padding 0

section
  margin 0
  paddin 0
  
 button
  border-radius 20px
  margin 10px
  width 150px 
  height 40px
  border none
  background #95ca3e
  color #fff
  font-size 20px
  outline:none


