@require './app.styl'

.CardMap{
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  border-radius: 10px
  margin: 2%
  height : 25%
  -webkit-box-shadow: 1px 3px 10px 0px  color-oscuro
  -moz-box-shadow: 1px 3px 10px 0px  color-oscuro
  box-shadow: 1px 3px 10px 0px color-oscuro
  color: color-claro
  background-color: color-primario
  & p{
      margin: 0
    }
  }