@require './app.styl'
.Contact
  display grid
  grid-template-columns: auto 50%;
  height: 90vh
  &__info
    grid-column: 1
    margin: 10%
    border-radius: 30px
  &>div > div
    grid-column: 2
    width 50% !important
    height 90vh !important
  &__title{
    text-align: center
    margin: 1%
    }