@require './app.styl'
.Contact
  display grid
  grid-template-columns: 1fr 1fr;
  height: 90vh
  &__info
    grid-column: 1
    margin: 5%
    border-radius: 30px
    &__boton
      position: relative
      top: 14%
      left: 90%
      border-radius: 30px
      border: 1px solid color-primario
      -webkit-box-shadow: 1px 3px 10px 0px  color-oscuro
      -moz-box-shadow: 1px 3px 10px 0px  color-oscuro
      box-shadow: 1px 3px 10px 0px color-oscuro
      background-color: color-primario
      color: color-claro
  &>div > div
    grid-column: 2
    width 50% !important
    height 90vh !important
  &__title
    text-align: center
    margin: 1%
    