@require "./app.styl"
.Header{
  display: flex
  justify-content: center
  align-items: center
  height 10vh
  background: linear-gradient(90deg, color-segundario 0, color-segundario-variacion)
  color: color-claro
  -webkit-box-shadow: 1px 3px 10px 0px  color-oscuro
  -moz-box-shadow: 1px 3px 10px 0px  color-oscuro
  box-shadow: 1px 3px 10px 0px color-oscuro

  & h1{
    margin: 0
    }
  }