button
    width: 98%;
    background-color: gray;
    border: none;
    outline: none;
    margin: 10px;
    border-radius: 11px;
    color: white;
    font-size: 1em;
    height: 30px;
map
    position: absolute;
    width: 97%;
    height: 100%;
    margin: 10px;
    border: solid 4px black;
    border-radius: 6px; 